
#btn
{
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
	padding: 10px;
}

#btn:hover
{
    color: #000;
    background-color: yellow;
    border-radius: 30px;
}